/* Ričards Nils Libert, rl25036 */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #AE5B54;
    background-color: #EEECEB;
    padding-top: 100px;
}
#main-header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F0B63B;
    padding: 0.5em;
    text-align: center;
    z-index: 1000;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: right;
    padding-right: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: #593531;
    font-weight: bold;
}
nav ul li a:hover {
    background-color: #AE5B54;
    padding: 6px 10px;
    border-radius: 8px;
}
main{
    display: flex;
}
.content{
    position: relative;
    flex: 1;
    padding: 2em;
}
.image-container {
    position: relative;
    padding: 2em 0;
}
.image-container img {
    width: 600px;
    height: 400px;
    border-radius: 8px;
}
.overlay-text{
    position: absolute;
    bottom: 20px;
    left: 50px;
    background-color: #F0B63B;
    color: #AE5B54;
    padding: 8px 12px;
    border-radius: 8px;
    opacity: 0.5;
}
.image-container:hover .overlay-text {
    opacity: 1;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
}
.image-item {
    flex: 0 1 300px;
}
.image-item img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
}
.image-item:hover {
    transform: scale(1.05);
}
.sidebar {
    width: 300px;
    background-color: #F0B63B;
    border-radius: 8px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #F0B63B;
    padding: 1.5em;
}
.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-left {
    flex: 1;
}
.footer-right {
    flex: 1;
}
.footer-right ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
a {
    color: #AE5B54;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #593531;
}
.additional-info {
    background-color: #EEECEB;
    border: 2px;
    padding: 1.5rem;
    margin: 2rem 1rem;
    border-color: #F0B63B;
    border-style: double;
    border-radius: 8px;
    color: #593531;
}

.additional-info h3, .additional-info h4 {
    color: #AE5B54;
}
.additional-info ul {
    list-style: square inside;
}

